<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    </head>
<body>
<div id="speechContainer">
    <h1>voice assistant</h1>
    <form method="post" enctype="multipart/form-data">

        <input type="submit" id="submitButton" value="voice"/>
    </form>

 {% if voice != "" %}
        <div id="speechTranscriptContainer">
            <h1>voice</h1>
            <p id="speechText">{{ voice }}</p>
        </div>
    {% endif %}

</div>
<script>
    window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

const recognition = new SpeechRecognition();
recognition.interimResults = true;
const transcript_element = document.getElementById("speechTranscriptContainer");
const talk_button = document.getElementById("submitButton");


let p = document.createElement("p");
transcript_element.appendChild(p);

recognition.addEventListener("result", (e) =>{
    const transcript = Array.from(e.results)
    .map(result => result [0])
    .map(result => result.transcript)
    .join("");
    p.textContent = transcript;
    if(e.results[0].isFinal){
        p = document.createElement("p")
        p.textContent = transcript;
        transcript_element.appendChild(p);
        p.textContent = "";

        if(transcript.includes("YouTube")){
            window.open('https://www.youtube.com/')
        }
    }

});

function greeting(){
    alert("Have A Good Day !")
}

talk_button.addEventListener("click", () =>{
    end_button.disabled = false;
    talk_button.disabled = true;
    recognition.start();
});
end_button.addEventListener("click", () => {
    end_button.disabled = true;
    talk_button.disabled = false;
    recognition.stop();
});

</script>
</body>
</html>
-->
<html>
<body>

<button id="button" name="button">
    tap to speak
</button>
    <p  id="id" name="input"></p>
    <p  id="id2" name="input"></p>




<script>
 messages = [];

    var button =document.getElementById("button")
    var SpeechRecognition = window.SpeechRecognition || webkitSpeechRecognition;
    var recognition = new SpeechRecognition()
    recognition.lang = 'en-US';

   button.addEventListener("click",start=>{
   recognition.start()
   });
   inputText=document.getElementById("id")
   inputText2=document.getElementById("id2")
   recognition.onresult=function(e){
   console.log(e)
   let transcript= e.results[0][0].transcript
    //console.log(transcript)
    inputText.value=transcript;
    inputText.innerHTML +="| "+ inputText.value;
       // readOutLoud(transcript)


     // messages.push(transcript);

        fetch('http://127.0.0.1:5050/predict', {
            method: 'POST',
            body: JSON.stringify({ message: transcript }),
            mode: 'cors',
            headers: {
              'Content-Type': 'application/json'
            },

          }).then(response => response.json())
          .then(data => {
           readOutLoud(data);

    //console.log(data);
    inputText2.innerHTML += "| "+data;
    //Reponse eli jek mel chatbot
    //Speak

  }).catch(console.error);
function readOutLoud(message) {
	var speech = new SpeechSynthesisUtterance();

  // Set the text and voice attributes.
	speech.text = message;
	speech.volume = 1;
	speech.rate = 1;
	speech.pitch = 1;

	window.speechSynthesis.speak(speech);
}


   }




</script>

</body>
</html>
