<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    </head>
<body>
<div id="speechContainer">
    <h1>voice assistant</h1>
    <form method="post" enctype="multipart/form-data">

        <input type="submit" id="submitButton" value="voice"/>
    </form>

 {% if voice != "" %}
        <div id="speechTranscriptContainer">
            <h1>voice</h1>
            <p id="speechText">{{ voice }}</p>
        </div>
    {% endif %}

</div>
</body>
</html>
-->
<html>
<body>
<form method="post" enctype="multipart/form-data">
<button id="button" name="button">
    tap to speak
</button>
    <p  id="id" name="input"></p>
<script>
    var button =document.getElementById("button")
    var SpeechRecognition = window.SpeechRecognition || webkitSpeechRecognition;
    var recognition = new SpeechRecognition()
   button.addEventListener("click",start=>{
   recognition.start()
   });
   inputText=document.getElementById("id")
   recognition.onresult=function(e){
   console.log(e)
   let transcript= e.results[0][0].transcript
    console.log(transcript)
    inputText.value=transcript;
    inputText.innerHTML = inputText.value;
    reponse(transcript);
   }

   function reponse(transcript){
   var msg=new SpeechSynthesisUtterance();
   if(transcript=="Salut"){
   msg.text="hello"

   }
   else{
   msg.text="sorry tell me again"
   }
   window.speechSynthesis.speak(msg)
   }
</script>
    </form>
</body>
</html>